@charset "UTF-8";
/**
** 올포랜드 관리자 템플릿 
** 1. sass/abstracts  variables 에서 폰트,타이틀컬러 설정
** 
**
**/
.search-header { border-bottom: 1px solid #ddd; padding-bottom: 20px; margin-bottom: 20px !important; }
.search-header .total-view { line-height: 35px; font-size: 1.2em; }

.ui-serach-box > * { vertical-align: top; }
.ui-serach-box .ui-btn { margin: 0; height: 35px; }

.ellipsis { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.photo_list li { margin-bottom: 30px; }
.photo_list li div { position: relative; }
.photo_list li div a { display: block; }
.photo_list li div a .thumb { display: block; }
.photo_list li div a .thumb img { width: 100%; }
.photo_list li div a .item_subject { padding: 10px 0 0 10px; font-size: 1.2em; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.photo_list li input { position: absolute; left: 10px; top: 10px; }

/*
* 구조 : paging
*/
.ui-paging { text-align: center; }
.ui-paging .pg_page, .ui-paging .pg_current { border: 1px solid #bbbcc3; border-radius: 5px; }
.ui-paging .pg_page:hover, .ui-paging .pg_page:active, .ui-paging .pg_current:hover, .ui-paging .pg_current:active { color: #666; }
.ui-paging .pg_current { display: inline-block; min-width: 35px; height: 35px; padding: 0 5px; background: #f8f8f8; line-height: 32px; color: #fff; border: 1px solid #f8f8f8; }
.ui-paging .pg_page { display: inline-block; min-width: 30px; margin: 0 4px; height: 30px; padding: 0 5px; background: #f3f3f3; line-height: 27px; color: #555; }
.ui-paging .pg_start, .ui-paging .pg_prev, .ui-paging .pg_next, .ui-paging .pg_end { background: #fff; line-height: 35px; width: 35px; display: inline-block; font-family: "FontAwesome"; }
.ui-paging .pg_start:before { content: "\f100"; }
.ui-paging .pg_prev:before { content: "\f104"; }
.ui-paging .pg_next:before { content: "\f105"; }
.ui-paging .pg_end:before { content: "\f101"; }
