@charset "UTF-8";
@import "../import/import";

/**
** 올포랜드 관리자 템플릿 
** 1. sass/abstracts  variables 에서 폰트,타이틀컬러 설정
** 
**
**/
// 기본형
.table{
	width:100%;
	border-top:2px solid #ddd;
	table{
		width:100%;
		thead{
			tr{
				border-bottom:1px solid #ddd;
			}
			th{
				padding:10px 0;
			}
		}
		tbody{
			tr{
				border-bottom:1px solid #ddd;
				td{
					padding:10px 0;
					text-align:center;
				}
			}
		}
	}
}
/*
* 구조 : paging
*/
[data-paging="paging"]{
	text-align: center;
	.pg_page,.pg_current{
		border: 1px solid #bbbcc3;
		border-radius:5px;
		&:hover,&:active{
			background:#3c8dbc;
			color:#fff;
		}
	}
	.pg_current{
		display: inline-block;		
		min-width: 30px;
		height: 30px;
		padding: 0 5px;
		background:#3c8dbc;		
		line-height: 26px;
		color:#fff;
		border: 1px solid #3c8dbc;
	}
	.pg_page{
		display: inline-block;
		min-width: 30px;
		height: 30px;
		padding: 0 5px;
		background:#f3f3f3;
		line-height: 27px;
		
		color:#555;
	}
	.pg_start,.pg_prev,.pg_next,.pg_end{
		background:#fff;
		line-height: 27px;
	}
	.pg_start{
		&:before{
			content:"\f100";
		}
	}
	.pg_prev{
		&:before{
			content:"\f104";
		};
	}
	.pg_next{
		&:before{
			content:"\f105";
		};
	}
	.pg_end{
		&:before{
			content:"\f101";
		};
	}

}